<div class="body-scripts">
    <script src="https://unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>
    <script>
        addBackToTop({
            diameter: 45,
            backgroundColor: 'rgb(255, 82, 82)',
            textColor: '#fff'
        })
    </script>
    <script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
    <script type="text/x-mathjax-config">
        window.MathJax = {
            options: {
              renderActions: {
                findScript: [9, function (doc) {
                  for (const node of document.querySelectorAll('script[type^="math/tex"]')) {
                    const display = !!node.type.match(/; *mode=display/);
                    const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
                    const text = document.createTextNode('');
                    node.parentNode.replaceChild(text, node);
                    math.start = {node: text, delim: '', n: 0};
                    math.end = {node: text, delim: '', n: 0};
                    doc.math.push(math);
                  }
                  doc.findMath();
                }, '']
              }
            }
          };
    </script>
    <script src="//polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" src="//cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</div>