<div class="body-scripts">
    <script src="https://unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>
    <script>
        addBackToTop({
            diameter: 45,
            backgroundColor: 'rgb(255, 82, 82)',
            textColor: '#fff'
        })
    </script>
    <script src="//polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        MathJax = {
          startup: {
            ready: function() {
              var HTMLDomStrings = MathJax._.handlers.html.HTMLDomStrings.HTMLDomStrings;
              var handleTag = HTMLDomStrings.prototype.handleTag;
              HTMLDomStrings.prototype.handleTag = function (node, ignore) {
                if (this.adaptor.kind(node) === '#comment') {
                  var text = this.adaptor.textContent(node);
                  if (text.match(/^\[CDATA\[(?:\n|.)*\]\]$/)) {
                    this.string += '<!'
                    this.extendString(node, text);
                    this.string += '>';
                    return this.adaptor.next(node);
                  }
                }
                return handleTag.call(this, node, ignore);
              }
              MathJax.startup.defaultReady();
              MathJax.startup.document.inputJax[0].preFilters.add(function (data) {
                data.math.math = data.math.math.replace(/^% <!\[CDATA\[/, '').replace(/%\]\]>$/, '');
              });
            }
          }
        };
        </script>
</div>