.footnotes {
    word-wrap: break-word;
}

.notes-separator {
    margin-top: 30px;
    margin-bottom: 10px;
}

.mobile-only {
    display: none;
}

@media only screen and (max-width: 768px) {
    .table-wrapper {
        overflow-x: scroll;

        th {
            top: 0;
        }
    }

    .mobile-only {
        display: block;
    }
}

.wip-warning {
    padding: 20px;
    background-color: #ef5350;
    color: white;
    margin-bottom: 15px;
    text-align: center;

    .bold {
        font-weight: bold;
    }
}

.read-full-info {
    padding: 10px;
    background-color: lightblue;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
}

.read-short-info {
    padding: 10px;
    background-color: #a5d6a7;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;

    a {
        color: #1b5e20;
    }
}

th {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
}

.site-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    height: 54px;
    z-index: 1000;
}

.post-categories-list {
    display: inline;
    margin: 0;

    .category-item {
        display: inline;
        color: black;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            font-weight: bold;
        }

        .category-box {
            display: inline-block;
            width: 14px;
            height: 14px;
        }

        .category-label{
            display: inline;
        }
    }
}

.category-title {
    margin: 20px 0 5px;

    a {
        display: inline;
        color: black;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            font-weight: bold;
        }
    }
    .category-box {
        display: inline-block;
        width: 20px;
        height: 20px;
    }
}

.category-layout {
    .big-category-title {

        .category-box {
            display: inline-block;
            width: 26px;
            height: 26px;
        }
    }

    .posts-title {
        font-weight: bold;
    }

    .breves-title {
        font-weight: bold;
        margin-top: 20px;
    }
}

.not-found {
    .error {
        text-shadow: 3px 3px lightgray;
    }

    .message {
        font-weight: bold;
    }
}

.video-frame {
    background-color: #777;
    display: block;
    height: 56.25vw;
    margin-bottom: 20px;
    margin: 0 auto 20px;
    max-height: 315px;
    max-width: 560px;
    width: 90vw;
}

blockquote {
    color: #000051;
    border-left: 4px solid #5c6bc0;
}

.site-title {
    vertical-align: middle;
}

h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: #a31c00;
}

.MJX-TEX {
    white-space: break-spaces;
}

mjx-container {
    font-size: 1em !important;
}

.picture {
    display: block;
    margin: 0 auto 20px;

    &.medium {
        max-height: 200px;
    }
}

figure {
    img {
        display: block;
        margin: auto;

        &.medium {
            max-height: 200px;
        }
    }
}

figcaption {
    color: #495057;
    // display: block;
    // font-size: 1rem;
    font-style: italic;
    margin: .25rem auto 1rem;
    text-align: center;
    width: 75%;
}
