.footnotes {
    word-wrap: break-word;
}

.notes-separator {
    margin-top: 30px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    .table-wrapper {
        overflow-x: scroll;
    }
}