---
layout: default
---

<div class="blog list">
    <h1 class="big-category-title">
        <div class="category-box" style="background-color: {{ page.color | default 'lightgray' }}"></div>
        {{ page.title }}
    </h1>

    <p>{{ page.content }}</p>

    <h3>Articles :</h3>
    {% for post in site.posts %}
    {%- if post.categories contains page.name and post.hidden != 1 -%}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {%- endif -%}
    {% endfor %}
</div>