---
layout: default
---

<div class="category-layout">
    <h1 class="big-category-title">
        <div class="category-box" style="background-color: {{ page.color | default 'lightgray' }}"></div>
        {{ page.title }}
    </h1>

    <p>{{ page.content }}</p>

    <p class="posts-title">Articles :</p>
    {% for post in site.posts %}
    {%- if post.categories contains page.name and post.hidden != 1 -%}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {%- endif -%}
    {% endfor %}

    {% assign used_category_names = site.breves | map: "categories" | join: ',' | split: ',' | uniq %}

    {%- if used_category_names contains page.name -%}
    <p class="breves-title">Brèves :</p>
    {% for breve in site.breves %}
    {%- if breve.categories contains page.name and breve.hidden != 1 -%}
    <li><a href="{{ site.baseurl }}{{ breve.url }}">{{ breve.title }}</a></li>
    {%- endif -%}
    {% endfor %}
    {%- endif -%}
</div>