---
layout: page
---

{{ content }}

{% for category in site.categories %}
  <h3 class="category-title">
    <div class="category-box" style="background-color: {{ category.color  }}"></div>
    <a href="{{ site.baseurl }}{{ category.url }}">{{ category.title }}</a>
  </h3>
  {% for post in site.posts %}
  {%- if post.categories contains category.name and post.hidden != 1 -%}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><!-- ({{ post.date | date: "%d/%m/%Y"}}) --></li>
  {%- endif -%}
  {% endfor %}
{% endfor %}